.user_list {
    padding: 1%;
}

.options button {
   margin-right: 4%; 
}

button{
    background-color: #DAD2BC;
}

.custom_table {
    border:1;
}

.user_list {
    padding: 1%;
}

.options button {
   margin-right: 4%; 
}

button{
    background-color: #DAD2BC;
}